USE [DuLieuYTeBD]
GO
/****** Object:  Table [dbo].[BaiViet]    Script Date: 19/09/2021 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiViet](
	[IdBV] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](max) NULL,
	[TomTat] [nvarchar](max) NULL,
	[NoiDung] [ntext] NULL,
	[NgayViet] [datetime] NULL,
	[Hinh] [nvarchar](50) NULL,
	[NguoiViet] [nvarchar](100) NULL,
	[IdDM] [int] NULL,
	[Tag] [nvarchar](60) NULL,
	[LinkVideo] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 19/09/2021 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[IdDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 19/09/2021 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IdTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDN] [char](10) NULL,
	[MatKhau] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaiViet] ON 

SET IDENTITY_INSERT [dbo].[BaiViet] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([IdDM], [TenDM]) VALUES (1, N'Chỉ đạo chống dịch')
INSERT [dbo].[DanhMuc] ([IdDM], [TenDM]) VALUES (2, N'Bản tin Covid - 19')
INSERT [dbo].[DanhMuc] ([IdDM], [TenDM]) VALUES (3, N'Video')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([IdTK], [TenDN], [MatKhau]) VALUES (1, N'admin     ', N'123       ')
INSERT [dbo].[TaiKhoan] ([IdTK], [TenDN], [MatKhau]) VALUES (2, N'phong     ', N'123       ')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD FOREIGN KEY([IdDM])
REFERENCES [dbo].[DanhMuc] ([IdDM])
GO
