@model IEnumerable<DACSN.Models.TinTuc>

<style type="text/css">
    .tintuc-img .thumbnail {
        padding-top: 10px;
        height: 100px;
        display: block;
    }

        .tintuc-img .thumbnail img {
            padding-top: 5px;
            height: 100%;
            display: block;
            padding-bottom: 10px;
            width: 20%;
        }

    .tintuc-img .News {
        padding-left: 120px;
    }

        .tintuc-img .News a {
            text-decoration: none
        }
</style>

<div class="row">
    @foreach (var tintuc in Model)
    {
        
            <div class="tintuc-img">
                <div class="thumbnail">
                    <img src="~/Image/@tintuc.AnhBia" alt="@tintuc.TieuDe" />
                    <div class="News">
                        <div class="TieuDe">
                            <a href="#">@tintuc.TieuDe</a>
                        </div>
                        <div class="NoiDung">
                            <h3>@tintuc.NoiDung</h3>
                        </div>
                    </div>
                </div>
            </div>
        
    }
</div>




