@using DACSN.Models;

<style type="text/css">

    a.classname

    .container {
        width: 900px;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

        a:hover {
            color: blue;
            text-decoration: none;
        }

    hr {
        border-top: 0px solid #eee;
        margin-top: 4px;
        margin-bottom: 20px;
    }

        .dropdown-menu > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }
   
</style>

<nav class="navbar" style="background: rgb(42, 52, 119);">
    <div class="container">
        <ul class="navbar-nav text-uppercase">
            <li class="nav-iteam active">
                <a class="nav-link keep-text-desaturate" tabindex="1" href="~/Home/Index" title="Nhấn Enter để kích hoạt"
                   style="color: white !important;">TRANG CHỦ</a>
            </li>
            <li class="nav-iteam">
                <a class="nav-link keep-text-desaturate" tabindex="1" href="~/Home/DienBienDich" title="Nhấn Enter để kích hoạt"
                   style="color: white !important;">DIỄN BIẾN DỊCH</a>
            </li>
            <li class="nav-iteam ">
                <a class="nav-link keep-text-desaturate" tabindex="1" href="~/Home/TinTuc" title="Nhấn Enter để kích hoạt"
                   style="color: white !important;">TIN TỨC</a>
            </li>
            <li class="nav-iteam ">
                <a class="nav-link keep-text-desaturate" tabindex="1" href="~/Home/Video" title="Nhấn Enter để kích hoạt"
                   style="color: white !important;">VIDEO</a>
            </li>
            <li class="nav-iteam ">
                <a class="nav-link keep-text-desaturate" tabindex="1" href="~/Home/DieuCanBiet" title="Nhấn Enter để kích hoạt"
                   style="color: white !important;">ĐIỀU CẦN BIẾT</a>
            </li>
            <li class="nav-iteam ">
                <a class="nav-link keep-text-desaturate" tabindex="1" href="~/Home/KhuyenCao" title="Nhấn Enter để kích hoạt"
                   style="color: white !important;">KHUYẾN CÁO</a>
            </li>
        </ul>
        
    </div>
</nav>
