@model IEnumerable<DACSN.Models.Vaccine>

<style type="text/css">
    .vaccine-img .thumbnail {
        padding-top: 10px;
        height: 100px;
        display: block;
    }

        .vaccine-img .thumbnail img {
            padding-top: 5px;
            height: 100%;
            display: block;
            padding-bottom: 10px;
            width: 20%;
        }

    .vaccine-img .News {
        padding-left: 120px;
    }

        .vaccine-img .News a {
            text-decoration: none
        }
</style>

<div class="row">
    @foreach (var vac in Model)
    {
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <div class="vaccine-img">
                <div class="thumbnail">
                    <img src="~/Image/@vac.AnhCD" alt="@vac.TenChuDeVaccine" />
                    <div class="News">
                        <div class="TieuDe">
                            <a href="#">@vac.TenChuDeVaccine</a>
                        </div>
                        <div class="NoiDung">
                            <h3>@vac.NoiDungCD</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
