
@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@model IEnumerable<DACSN.Models.Video>

<style type="text/css">
    .video .thumbnail {
        padding-top: 10px;
        height: 300px;
        display: block;
    }

        .video .thumbnail video {
            padding-top: 5px;
            height: 53%;
            display: block;
            padding-bottom: 10px;
            width: 100%;
        }


    .video .New a {
        text-decoration: none
    }

    .video .New .TieuDe {
        text-align: center;
    }
</style>

<div class="col-lg-12">
    <h3 class="tle1" style="color:darkblue"><img src="~/Image/TieuDe.png" style="height:25px;width:10px;" />&#160;<b>Video</b></h3>
    <div class="row">
        <div class="col-lg-9">
            @foreach (var video in Model)
            {
                    <div class="video">
                        <div class="thumbnail">
                            <video controls>
                                <source src="~/Video/@video.Video1" />
                            </video>
                            <div class="New">
                                <div class="TieuDe">
                                    <a href="#">@video.TenVideo</a>
                                </div>
                                <div class="NoiDung">
                                    <h3>@video.NoiDungVideo</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                
            }
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12 well">
                    <h3 class="tle1" style="color:darkblue"><img src="~/Image/TieuDe.png" style="height:25px;width:10px;" />&#160;<b>Diễn biến dịch</b></h3>
                    Hiển thị diễn biến dịch theo ngày
                </div>
                <div class="col-lg-12 well">
                    <h4><p style="text-align: center;font:bolder">Danh sách số điện thoại các bệnh viện</p></h4>
                    Hiển thị danh sách số điện thoại các bệnh viện
                </div>
            </div>
        </div>
    </div>
</div>

