
@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="col-lg-12">
    <h3 class="tle1" style="color:darkblue"><img src="~/Image/TieuDe.png" style="height:25px;width:10px;" />&#160;<b>Video</b></h3>
</div>

